<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".SolitaireApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Solitaire"
        tools:targetApi="31">

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,NonResizeableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".view.AppActivity"
            android:exported="false"
            android:label="@string/setting_app"
            android:theme="@style/ApplicationPrivacyPolicyTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".view.NavigateProActivity"
            android:theme="@style/ApplicationPrivacyPolicyTheme"
            android:exported="false" />

        <activity
            android:name=".view.NotificationActivity"
            android:theme="@style/ApplicationPrivacyPolicyTheme"
            android:exported="false" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/ApplicationPrivacyPolicyTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_application_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dark_green" />

        <service
            android:name=".service.RecordService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>